@use '../../library' as library;

@mixin form-fields-style($font-size, $padding) {
    font-size: $font-size;
    padding: $padding;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
    outline: none;
}

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}  
  }

.container {
    @include library.flex-column-center;
    color: library.$primary-font-color;
    background: linear-gradient(to bottom, black, transparent);
    height: 100vh;

    .box {
        @include library.flex-column-center;

        .title {
            font-size: 80px;
        }
    
        .inner-container {
            width: 622px;
    
            .sub-title {
                @include library.flex-row-center;
                justify-content: space-between;
                
                .red-line {
                    height: 0px;
                    width: 20%;
                    border: 1px solid library.$primary-font-color;
                }
    
                p {
                    font-size: 26px;
                    line-height: 0.2;
                }
            }
    
        
            form {
        
                display: flex;
                flex-direction: column;
                margin: 30px 0px 80px 0px;
                
                input {
                    @include form-fields-style(35px, 20px);
                    border: none;
                    background-color: library.$cool-grey-two;
        
                    @include placeholder {  
                        color: black;          
                    }            
                }

                .select-wrapper {
                    position: relative;

                    select {
                        display: flex;
                        @include form-fields-style(35px, 20px);
                         border: 1px solid library.$cool-grey-two;
                         width: 100%;
                         background-color: transparent;
                         color: library.$cool-grey-two;

                         -webkit-appearance: none;
                         -moz-appearance: none;
                         -ms-appearance: none;
                         -o-appearance: none;
                         appearance: none;
                         
                         &:invalid {
                             color: library.$cool-grey-two;
                         }
             
                         option {
                             color: black;
                             background-color: library.$cool-grey-two;
                             font-size: 25px;

                             &:hover::after {
                                 background-color:#053a45;
                             }
                         }
         
                     }

                     &:after {
                        position: absolute;
                        content: "";
                        top: 34px;
                        right: 30px;
                        width: 0; 
                        height: 0; 
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-top: 10px solid;
                        border-color: #97a4a7 transparent transparent transparent;
                    }

                }
        
                
            }
    
        }
    
    
        .start-game-btn {
            @include library.flex-row-center;
            font-size:48px;
            color: library.$primary-font-color;
            background: transparent;
            border: none;
            outline: none;
            margin-top: 80px;
            cursor: pointer;
    
            &:hover {
                transform: scale(1.05);
            }
    
            &:active {
                transform: scale(1);
            }
        }

    }

    
}

@media (max-width: 1370px) {
    .container {

        .box{

            img {
                width: 160px;
            }
            .title {
                font-size: 50px;
            }
    
            .inner-container {
                width: 422px;
    
                .sub-title {
                    
                    p {
                        font-size: 20px;
                    }
                }
    
                form {
                    margin: 30px 0 30px 0;
    
                    input {
                        @include form-fields-style(20px, 16px)
                    }

                    .select-wrapper {

                        select {
                            @include form-fields-style(20px, 16px );

                            option {
                                font-size: 16px;
                            }
                        }

                        &:after {
                            position: absolute;
                            content: "";
                            top: 24px;
                            right: 20px;
                            width: 0;
                            height: 0;
                            border-left: 8px solid transparent;
                            border-right: 8px solid transparent;
                            border-top: 8px solid;
                            border-color: #97a4a7 transparent transparent transparent;
                         }

                    }
    
                    
                }
            }
    
            .start-game-btn {
                font-size:28px;
    
                img {
                    width: 50px;
                }
            }
        }

        }

        
}