@use '../../library' as library;

.main {
    color: library.$primary-font-color;
    background: linear-gradient(to bottom, black, transparent);
    height: 100vh;

    .header-container {
        display: block;
        padding: 20px;
        line-height: 1.4;
        font-size: 44px;

        .player-name-title {
            display: flex;
            justify-content: space-between;
        }

        .level-score {
            display: flex;
            justify-content: space-between;
        }

        img {
            margin: 0 10px 0 0;
        }
    }

    .game-container {
        display: flex;
        padding: 40px 20px 20px 20px;
        justify-content: space-around;
        flex-grow: 1;

        .score-board {
            @include library.flex-column-center;
            justify-content: flex-start;
            border: library.$primary-font-color solid;
            border-radius: 10px;
            width: 300px;
            
        }

        .play-game {
            @include library.flex-column-center;
            width: 100%;

            span {
                font-size: 32px;
                color: white;
            }

            p {
                font-size: 56px;
                color: white;
            }

            input[type="text"] {
                width: 400px;
                padding: 20px;
                opacity: 0.59;
                outline: none;
                font-size: 32px;
                border-radius: 15px;
                box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
                background-color: white;
            }
        }

    }

    .stop-game-btn {
        @include library.flex-row-center;
        border: none;
        outline: none;
        background-color: transparent;
        transform: scale(1);
        padding: 0px;

        span {
            font-size: 48px;
            color: library.$primary-font-color;
        }

        &:hover {
            transform: scale(1.15);
        }

        &:active {
            transform: scale(1);
        }
    }
}