body {
  background-image: linear-gradient(to top, #063c47, #000000);
  background-attachment: fixed;
}

.App {
  text-align: center;
}

.cover-image {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  opacity: 0.15;
  z-index: -1;
}

/* .background-black {
  background-image: linear-gradient(to bottom, #000000, transparent);
  background-attachment: fixed;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
